
body{
	position: relative;
	padding-top: 50px;
	background: white url(../img/bg.png) repeat left top;
	-webkit-font-smoothing: antialiased;
}

.main{
	margin-top: 65px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 3px 6px 0px;
	background-color: white;
	padding: 15px;
}

.footer{
	margin-top: 45px;
	margin-bottom: auto;
	background-color: #777777;
	color: #999;
}

.narrow{
	max-width: 700px;
	margin: 0 auto;
}

.well blockquote {
	margin-bottom: 0px;
}


.about{
	margin-top: 30px;
}

.skills{
	margin-top: 20px;
}
.block{
	border-left: 0px;
	font-size: 18px;
	padding-left: 1px;
	margin-bottom: 0px
}
.time{
color: grey;
margin-left: 5px;
font-size: small;
}
@media (min-width: 768px) {
      .navbar>.container .navbar-brand {
        text-align: left;
        margin-left: 0;
        padding-left: 0;
      }
      h2:first-child,
      h3:first-child,
      h4:first-child {
        margin-top: 0;
      }
  }

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

